.sheetWrapper {
  border-radius: 0;
  height: 100dvh;
}
.sheetHead {
  z-index: 3;
}

.overscrollBehaviorOff {
  overscroll-behavior: none;
}

.input {
  padding: 20px 24px;
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;

  &:focus {
    outline: none;
  }
}

.content {
  padding: 20px 24px;
}

.container {
  position: relative;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.button {
  width: 67px;
  height: 67px;
  border: none;
  background: none;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 50%;
}
